

<br>
<br>


<div class=" container ">
  
  <div class=" container col-sm-6">
    
    <div class="container ">
      <img src="assets/imapagina/logonike.jpg"  width="400px" height="400px">
      <div class="card-body">
        <h1 class="card-title font-italic font-weight-bold text-dark ">MARCA NIKE</h1>
        <h4 class="card-text font-weight-normal text-dark lead ">
          Aquí encontraras todos los diseños de calzado marca NIKE.</h4>
        <a  class="btn btn-lg text-light btn-justify" style="background-color: #572364;" [routerLink]="['/nike']">IR AL CALZADO</a>
      </div>
    </div>
  </div>
  <div class="container col-sm-6">
    <div class="container ">
      <img src="assets/imapagina/logopuma.png"  width="400px" height="400px">
      <div class="card-body">
        <h1 class="card-title font-italic font-weight-bold text-dark">MARCA PUMA</h1>
        <h4 class="card-text font-weight-normal text-dark lead">
          Aquí encontraras todos los diseños de calzado marca PUMA.</h4>
        <a class="btn btn-lg text-light btn-justify" style="background-color: #572364;" [routerLink]="['/puma']">IR AL CALZADO</a>
  
    </div>
    </div>
  </div>

  <br>
  <br>
  <div class="container col-sm-6">
    <div class="container ">
        <br>
        <br>
        <br>
        <br>
      <img src="assets/imapagina/logorebook.jpg"  width="400px" height="400px">
      <div class="card-body">
        <h1 class="card-title font-italic font-weight-bold text-dark">MARCA REBOOK</h1>
        <h4 class="card-text font-weight-normal text-dark lead">
          Aquí encontraras todos los diseños de calzado marca REBOOK.</h4>
        <a class="btn btn-lg text-light btn-justify" style="background-color: #572364;" [routerLink]="['/rebook']">IR AL CALZADO</a>
      </div>
    </div>
  </div>
  <div class="container col-sm-6">
    <div class="container ">
        <br>
        <br>
        <br>
        <br>
      <img src="assets/imapagina/logoadidas.jpg"  width="400px" height="400px">
      <div class="card-body">
        <h1 class="card-title font-italic font-weight-bold text-darK">MARCA ADIDAS</h1>
        <h4 class="card-text font-weight-normal text-dark lead">
          Aquí encontraras todos los diseños de calzado marca ADIDAS.</h4>
        <a class="btn btn-lg text-light btn-justify" style="background-color: #572364;" [routerLink]="['/adidas']">IR AL CALZADO</a>
      </div>
    </div>
  </div>
</div>