<br>
<h1 class=" col mb-4 card-title font-italic font-weight-bold text-dark"> CALZADO DE DAMA</h1>
<br>
<br>

<div class=" container row  row-cols-md-3 ">
    <div class=" container  "  style="max-width: 50rem; ">
      <div class="container ">
        <img src="assets/imapagina/zapato1.jpg"  width="200px" height="300px">
        <div class="card-body">
          <h2 class="card-title">NIKE  REF 2-052</h2>
          <h4 class="card-text">TALLAS: 34,35,37,38  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 70K</h4>
          <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class=" container  "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato2.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 2-053</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: SEMIDEPORTIVO  PRECIO: 100K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class=" container  "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato3.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">NIKE  REF JM-52</h2>
            <h4 class="card-text">TALLAS: 37,38,39,40  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 120K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    
    <div class="col mb-4 ">
      <div class=" container "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato4.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 3-080</h2>
            <h4 class="card-text">TALLAS: 37,38,39,40  MARCA: ADIDAS  MODELO: DEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4 ">
        <div class=" container  "  style="max-width: 50rem; ">
          <img src="assets/imapagina/zapato5.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">NIKE  REF 3-080-1</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 100K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      <div class="col mb-4 ">
        <div class=" container  "  style="max-width: 50rem; ">
          <img src="assets/imapagina/zapato6.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">NIKE  REF 3-080-3</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 100K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      
  </div>
  <div class=" container row  row-cols-1 row-cols-md-3 ">
    <div class=" container col mb-4 "  style="max-width: 50rem; ">
        <div class="container ">
          <img src="assets/imapagina/zapato7.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">NIKE REF JM-52-2</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: SEMIDEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
    <div class="col mb-4">
      <div class=" container  " style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato8.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">NIKE  REF 3-080-4</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class=" container  "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato9.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">ADIDAS  REF JM-52-3</h2>
            <h4 class="card-text">TALLAS: 36,37,38,40  MARCA: ADIDAS  MODELO: DEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="container">
        <img src="assets/imapagina/zapato10.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">D KADRI  REF 0-010</h2>
            <h4 class="card-text">TALLAS: TODAS LA TALLAS  MARCA: D KADRI  MODELO: DEPORTIVO  PRECIO: 90K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4 ">
        <div class="container">
          <img src="assets/imapagina/zapato11.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 3-217</h2>
            <h4 class="card-text">TALLAS: 26,27,38,39,40  MARCA: ADIDAS  MODELO: SEMIDEPORTIVO  PRECIO: 70K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      <div class="col mb-4 ">
        <div class="container">
          <img src="assets/imapagina/zapato12.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 3-218</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: SEMIDEPORTIVO  PRECIO: 70K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
  </div>
<!-- <p class=" container text-info ">
    CALZADO DE DAMA DISPONIBLE EN BODEGA
<br>
<img src="assets/imapagina/zapato1.jpg"  width="200px" height="200px">
<a href="https://forms.gle/tzJs6isKV5NVS7b39" target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" value="COMPRAR"></a>
<img src="assets/imapagina/zapato2.jpg"  width="200px" height="204px">
<a href="https://forms.gle/tzJs6isKV5NVS7b39" target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" value="COMPRAR"></a>
<img src="assets/imapagina/zapato3.jpg"  width="200px" height="200px">
<a href="https://forms.gle/tzJs6isKV5NVS7b39" target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" value="COMPRAR"></a>
<br>
<br>
<br>
<br>
<img src="assets/imapagina/zapato4.jpg"  width="200px" height="200px">
<a href="https://forms.gle/tzJs6isKV5NVS7b39" target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" value="COMPRAR"></a>
</p> -->
