<br>
<h1 class=" col mb-4 card-title font-italic font-weight-bold text-dark"> CALZADO CABALLERO</h1>
<br>
<br>

<div class=" container row  row-cols-md-3 ">
    <div class=" container  "  style="max-width: 50rem; ">
      <div class="container ">
        <img src="assets/imapagina/zapato13.jpg"  width="200px" height="300px">
        <div class="card-body">
          <h2 class="card-title">ADIDAS  REF 3-080</h2>
          <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: DEPORTIVO-CASUAL  PRECIO: 100K</h4>
          <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class=" container  "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato14.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 3-080-1</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: CASUAL  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class=" container  "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato15.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 3-080-2</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: CASUAL  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    
    <div class="col mb-4 ">
      <div class=" container "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato16.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">NIKE  REF 3-080-3</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: CASUAL  PRECIO: 105K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4 ">
        <div class=" container  "  style="max-width: 50rem; ">
          <img src="assets/imapagina/zapato17.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">NIKE  REF 3-080-4</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      <div class="col mb-4 ">
        <div class=" container  "  style="max-width: 50rem; ">
          <img src="assets/imapagina/zapato18.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">PUMA  REF 3-080-5</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: PUMA  MODELO: DEPORTIVO  PRECIO: 150K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      
  </div>
  <div class=" container row  row-cols-1 row-cols-md-3 ">
    <div class=" container col mb-4 "  style="max-width: 50rem; ">
        <div class="container ">
          <img src="assets/imapagina/zapato19.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">PUMA  REF 3-080-6</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: PUMA  MODELO: DEPORTIVO  PRECIO: 150K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
    <div class="col mb-4">
      <div class=" container  " style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato20.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">PUMA  REF 3-080-7</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: PUMA  MODELO: DEPORTIVO  PRECIO: 150K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class=" container  "  style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato21.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 3-080-8</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: CASUAL  PRECIO: 80K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="container">
        <img src="assets/imapagina/zapato22.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">NIKE  REF 2-052</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: SEMIDEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
    <div class="col mb-4 ">
        <div class="container">
          <img src="assets/imapagina/zapato23.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">ADIDAS  REF 2-052</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: ADIDAS  MODELO: CASUAL  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      <div class="col mb-4 ">
        <div class="container">
          <img src="assets/imapagina/zapato24.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">NIKE  REF 2-052-1</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: NIKE  MODELO: DEPORTIVO  PRECIO: 95K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
  </div>

