
<br><br><br><br><br>
<p class="container"> ______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ </p>
<h3 class=" container card-text font-weight-normal text-dark lead ">
    <h2 class="card-title  font-weight-bold text-dark ">TÉRMINOS, CONDICIONES Y POLÍTICA DE PRIVACIDAD</h2>  
<br>
Las siguientes Condiciones Generales, Condiciones de venta y Política de tratamiento de la información regulan el uso del sitio www.DINAMOSTORE.net (en adelante "sitio web"), del que DINAMO S.A.S (de ahora en adelante “DINAMO STORE”) con NIT 000000000-0 y domicilio en la Calle 00 # 00-00 en Cucuta - Antioquia, es titular.

A través de www.DinamosStore.net, Dinamo Store entrega información acerca de sus productos y ofrece la posibilidad de comprarlos. Las personas que quieran realizar compras deben añadir algunos datos para de esta forma adquirir la condición de “Cliente”. En este sentido, los Clientes aceptan los términos y condiciones recogidos en este documento, en la medida que ello les pueda ser de aplicación.

<br>
<br>
CONTACTO: Para cualquier tipo de duda, consulta o sugerencia, los Usuarios pueden llamar a DINAMO STORE al 01 8000 00 00 00 o escribir al +57 313 679 2213 de Lunes a Sábado de 8:00 a.m. a 7:00 p.m. y Domingos de 9:00 a.m. a 5:00 p.m.
<br> 
_________________________________________________________________________________________________________________________________________________________________________________________________________________________________
 <br>
 <h2 class="card-title  font-weight-bold text-danrk ">DISPONIBILIDAD DE CALZADO</h2>  
 <br>
DINAMO STORE informa al Cliente que las unidades disponibles en el sitio web corresponden a las existencias en la bodega. En ningún caso DINAMO STORE pondrá a la venta de forma intencionada más unidades de las que disponga.

DINAMOS STORE, en casos difícilmente controlables cómo errores humanos o incidencias en los sistemas informáticos, en donde la cantidad en inventario disponible difiera del pedido realizado, DINAMO STORE informará al Cliente vía email de la anulación total o parcial de su pedido, de manera que pueda seleccionar nuevos ítems para su pedido o si el Cliente solicita devolución de dinero, esta se realizará de acuerdo con lo estipulado en “DEVOLUCIONES”
<br>
<br> 
_________________________________________________________________________________________________________________________________________________________________________________________________________________________________
 <br>
 <h2 class="card-title  font-weight-bold text-danrk ">PAGOS</h2> 
<br>
El Cliente se compromete a pagar en el momento que realiza el pedido, la ropa más los gastos de envío. Estos valores serán mostrados previamente al Cliente antes de finalizar la compra. Los pagos se realizan a través de consignaciones o en pago contraentrega segun como desee el cliente.

Si la transacción es rechazada, el Cliente podrá comunicarse directamente con su entidad bancaria para verificar la causa del rechazo. Si el pago es exitoso, el Cliente mostrara su ticket de pago a nuestras lineas de watsapp 3136792213 o 3203799469 luego recibirá un correo electrónico, al e-mail registrado en el formulario de compra. Todas las transacciones estarán sujetas a la verificación del ingreso efectivo en la cuenta bancaria de DINAMOS STORE y a verificaciones adicionales.
<br> 
_________________________________________________________________________________________________________________________________________________________________________________________________________________________________
 <br>



 <h2 class="card-title  font-weight-bold text-dark ">MISION
</h2>  

<br>
Brindar un calzado de calidad a todo nuestro cliente, con el mejor precio del mercado. Logrando así una sensación de satisfacción en todos. Para llegar así a brindarle el mejor servicio con los mejores productos de calzado deportivo, casual, semideportivo , elegante.
_________________________________________________________________________________________________________________________________________________________________________________________________________________________________
<h2 class="card-title  font-weight-bold text-dark ">VISION
</h2>  
<br>
Proyectarnos a la exportación y propia creación de nuestros propios productos, pudiendo dar así varios empleos a personas en nuestras futuras bodegas de creaciones de calzado. y ayudando a disminuir esa cifra de desempleo en nuestro país a la vez que vamos progresando y creciendo. Además, proyectarnos en otros aspectos de las ventas en un futuro. Como las ventas de otras prendas de vestir.
_________________________________________________________________________________________________________________________________________________________________________________________________________________________________ 
</h3>