<br>
<h1 class=" col mb-4 card-title font-italic font-weight-bold text-dark"> CALZADO PUMA</h1>
<br>
<br>

<div class=" container row  row-cols-md-3 ">
    
      <div class="col mb-4 ">
        <div class=" container  "  style="max-width: 50rem; ">
          <img src="assets/imapagina/zapato18.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">PUMA  REF 3-080-5</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: PUMA  MODELO: DEPORTIVO  PRECIO: 150K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
      
  
    <div class=" container col mb-4 "  style="max-width: 50rem; ">
        <div class="container ">
          <img src="assets/imapagina/zapato19.jpg"  width="200px" height="300px">
          <div class="card-body">
            <h2 class="card-title">PUMA  REF 3-080-6</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: PUMA  MODELO: DEPORTIVO  PRECIO: 150K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
          </div>
        </div>
      </div>
    <div class="col mb-4">
      <div class=" container  " style="max-width: 50rem; ">
        <img src="assets/imapagina/zapato20.jpg"  width="200px" height="300px">
        <div class="card-body">
            <h2 class="card-title">PUMA  REF 3-080-7</h2>
            <h4 class="card-text">TALLAS: 38,39,40,42  MARCA: PUMA  MODELO: DEPORTIVO  PRECIO: 150K</h4>
            <a href="https://forms.gle/tzJs6isKV5NVS7b39"  target="_blank" onClick="window.open(this.href, this.target, 'width=700,height=350'); return false;"><input type="button" class="btn btn-lg text-light btn-justify"  style="background-color: #572364;" value="COMPRAR"></a>
        </div>
      </div>
    </div>
   