<!-- <img src="assets/imapagina/PORTADA.jpg"  width="1100px" height="410px"> -->
<!-- <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="">
      <img src="assets/imapagina/zapato2.jpg" width="100px" height="100px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary btn-center">Go somewhere</a>    
      </div>
      
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/imapagina/zapato2.jpg" class="" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/imapagina/zapato2.jpg" class="" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/imapagina/zapato2.jpg" class="" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div> -->
<br>
<br>


<div class=" container ">
  
  <div class=" container col-sm-6">
    
    <div class="container ">
      <img src="assets/imapagina/mujer.png"  width="400px" height="400px">
      <div class="card-body">
        <h1 class="card-title font-italic font-weight-bold text-dark">CALZADO PARA DAMA</h1>
        <h4 class="card-text font-weight-normal text-dark lead ">
          Aquí encontraras todos los diseños de calzado disponible para Damas.</h4>
        <a  class="btn btn-lg text-light btn-justify" style="background-color: #572364;" [routerLink]="['/mujeres']">VISITAR CALZADO</a>
      </div>
    </div>
  </div>
  <div class="container col-sm-6">
    <div class="container ">
      <img src="assets/imapagina/hombre.jpg"  width="400px" height="400px">
      <div class="card-body">
        <h1 class="card-title font-italic font-weight-bold text-dark">CALZADO PARA CABALLERO</h1>
        <h4 class="card-text font-weight-normal text-dark lead">
          Aquí encontraras todos los diseños de calzado disponible para Caballeros.</h4>
        <a class="btn btn-lg text-light btn-justify" style="background-color: #572364;" [routerLink]="['/hombres']">VISITAR CALZADO</a>
      </div>
    </div>
  </div>
</div>